@import "tailwindcss";
@plugin '@midudev/tailwind-animations';


:root {
  --background: #101010;
  --foreground: #ffffff;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Apfel Grotezk';
  src: url('/font/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid Circular';
  src: url('/font/EuclidCircular-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Euclid Circular', sans-serif;
}

@keyframes pacman-move {
  0%   { transform: translateX(0) scaleX(1); }     /* start normal, facing right */
  50%  { transform: translateX(1000px) scaleX(1); } /* move right */
  51%  { transform: translateX(1000px) scaleX(-1);} /* flip Pac-Man to face left */
  100% { transform: translateX(0) scaleX(-1); }    /* move back left */
}

.pacman {
  animation: pacman-move 28s linear infinite;
}
/* 
button {
  background: #111;
  border: 2px solid rgb(221, 221, 221)fff;
  box-shadow: 0 0 10px #fafcfb, 0 0 20px #787877;
  transition: box-shadow 0.3s, color 0.3s;
} */


/* any global CSS file loaded after the plugin */
@layer utilities {
  @keyframes ping {
    75%, 100% { transform: scale(2); opacity: 0 }
  }
  .animate-ping {
    animation: ping 1s cubic-bezier(0,0,0.2,1) infinite;
  }
}



